<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Ofrece tus servicios para aquellos que lo necesitan
                    </h1>
                    <p class="lead fw-normal text-white-50 mb-4">Somos una aplicacion que conecta a multiples profesiones y profesionales con personas que los necesitan</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Ingresar</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/register">Registrarse</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img src="http://localhost:3000/imagenes/imageninicio.jpg" class="img-fluid rounded-3 my-5" alt="Imagen Generica">
            </div>
        </div>
    </div>
</header>

<header class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="display-5 fw-bold">Te damos una calurosa bienvenida</h1>
                <p class="fs-4">En esta aplicacion podras ofrecer servicios con personas que los necesitan o podras solicitar aquellos servicios de esas tareas que no puedes hacer por falta de tiempo</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-collection"></i></div>
                        <h2 class="fs-4 fw-bold">El mejor personal a tu disposicion</h2>
                        <p class="mb-0">Servicios en todas las areas y todos los ambitos</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-cloud-download"></i></div>
                        <h2 class="fs-4 fw-bold">Soporte en la aplicacion</h2>
                        <p class="mb-0">Las 24 horas del dia, los 7 dias de la semana</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-card-heading"></i></div>
                        <h2 class="fs-4 fw-bold">Registro de tu actividad</h2>
                        <p class="mb-0">Puedes monitoriar toda tu actividad en la aplicacion</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-apple"></i></div>
                        <h2 class="fs-4 fw-bold">Soporte multiplataforma</h2>
                        <p class="mb-0">Usa nuestra aplicacion en el dispositivo que mas gustes</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-coin"></i></div>
                        <h2 class="fs-4 fw-bold">Precios competitivos</h2>
                        <p class="mb-0">Encuentra variedad de personas que ofrecen sus servicios a diferentes precios</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i
                                class="bi bi-credit-card"></i></div>
                        <h2 class="fs-4 fw-bold">Proteccion</h2>
                        <p class="mb-0">No debes preocuparte por usar tus tarjetas de credito</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center">
                    <h2 class="fw-bolder m-2 p-2">Nosotros</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="http://localhost:3000/imagenes/imageninicio3.jpg" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">Personal capacitado</h5>
                        </a>
                        <p class="card-text mb-0">Puedes dejar tu confianza en nuestros asociados capacitados</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="http://localhost:3000/imagenes/imageninicio2.jpg" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">Variedad de profesiones</h5>
                        </a>
                        <p class="card-text mb-0">Encuentra a la persona ideal que pueda satisfacer tus necesidades, diferentes profesiones y servicios en la palma de tu mano</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0">
                    <img class="card-img-top" src="http://localhost:3000/imagenes/imageninicio4.jpg" alt="..." />
                    <div class="card-body p-4">
                        <a class="text-decoration-none link-dark stretched-link" href="#!">
                            <h5 class="card-title mb-3">A tu domicilio
                            </h5>
                        </a>
                        <p class="card-text mb-0">En la comodidad de tu casa espera el servicio solicitado sin tener que levantarte de tu sofa</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to action-->
        <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
            <div
                class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                <div class="mb-4 mb-xl-0">
                    <div class="fs-3 fw-bold text-white">Novedades y ofertas para ti.</div>
                    <div class="text-white-50">unete a nuestro noticiario para estar al tanto de todas las novedades.</div>
                </div>
                <div class="ms-xl-4">
                    <div class="input-group mb-2">
                        <input class="form-control" type="text" placeholder="Direccion de correo..."
                            aria-label="Email address..." aria-describedby="button-newsletter" />
                        <button class="btn btn-outline-light" id="button-newsletter" type="button">Inscribirse</button>
                    </div>
                    <div class="small text-white-50">Nos preocupa tu privacidad, nunca compartiremos tus datos</div>
                </div>
            </div>
        </aside>
    </div>
</section>