<section class="pt-5 pb-5" style="background-color: #fff;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-xl-2 d-flex align-items-right max-height: 100%">
                <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white w-100 ">
                    <div class="d-flex flex-column h-50 sticky-top">
                       <div class="list-group list-group-flush mx-3 mt-4 mb-auto">
                            <a href="/dashboard" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
                                <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Pagina principal</span>
                            </a>
                            <a href="/solicitudes" class="list-group-item list-group-item-action py-2 ripple">
                                <i class="fas fa-chart-area fa-fw me-3"></i><span>Solicitud de servicios</span>
                            </a>
                            <a href="/cupones" class="list-group-item list-group-item-action py-2 ripple"><i
                                    class="fas fa-lock fa-fw me-3"></i><span>Cupones</span></a>
                            <a href="/politicas" class="list-group-item list-group-item-action py-2 ripple"><i
                                    class="fas fa-users fa-fw me-3"></i><span>Politicas</span></a>
                            <a href="/ajustes" class="list-group-item list-group-item-action py-2 ripple"><i
                                    class="fas fa-money-bill fa-fw me-3"></i><span>Ajustes de cuenta</span></a>
                        </div>

                        <div class="pt-1 mx-3 mt-4 w-80">
                            <button class="btn btn-dark btn-lg btn-block w-100" type="button">Cerrar sesion
                            </button>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="col-md-10 col-lg-10 col-xl-10 ">


                <div class="row d-flex justify-content-center m-3">
                    <div class="col-4 overflow-auto m-5">
                        <h1 class="d-block">
                           Terminos y condiciones
                        </h1>

                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.

                        </p>
                    </div>

                    <div class="col-4 overflow-auto m-5">
                        <h1 class="d-block">
                            politicas de Privacidad
                        </h1>

                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi, quam dolorem eaque nam
                            beatae vel praesentium atque suscipit cupiditate id excepturi enim quo iusto, mollitia
                            facere voluptatum! Qui, porro corrupti.

                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>