<section class="vh-100" style="background-color: #fff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-12">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">

            <div class="col-md-6 col-lg-6 d-flex align-items-center">

              <div class="card-body p-4 p-lg-4 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <i> 
                      <img src="http://localhost:3000/imagenes/letralogosinfondo.png" alt="">
                    </i>
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registrarse como usuario</h5>
                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Nombre</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Apellido</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Contrase単a</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Confirmar Contrase単a</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button">Registrarse</button>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-md-6 col-lg-6 d-flex align-items-center">

              <div class="card-body p-4 p-lg-4 text-black">

                <form>

                  <div class="d-flex align-items-center mb-3 pb-1">
                    <img src="http://localhost:3000/imagenes/letralogo2sinfondo.png" alt="">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Registrarse como asociado</h5>
                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Nombre</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="text" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Apellido</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="email" id="form2Example17" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example17">Email address</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Contrase単a</label>
                  </div>
                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example27" class="form-control form-control-lg" />
                    <label class="form-label" for="form2Example27">Confirmar Contrase単a</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" type="button">Registrarse</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>