<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 align-items-center">
            <div class="col-md-8 col-xl-6 col-lg-8"><img class="card-img-top mb-5 mb-md-0"
                    src="http://localhost:3000/imagenes/imagenservices.jpg " alt="..." style="height: 600px; width: 600px;"/></div>
            <div class="col-md-8 col-xl-6 col-lg-8">
                <div class="small mb-1"></div>
                <h1 class="display-5 fw-bolder">Sobre nosotros</h1>
                <div class="fs-5 mb-5">
                </div>
                <p class="lead">Somos una startup en el sector de la tecnologia la cual busca conectar de manera simple y practica distintas personas 
                    que buscan ofrecer sus servicios con un gran grupo de mercado la cual necesita de estos servicios, aqui podras encontrar diversar personas
                    que estan dispuestas a ofrecer sus distintos servicios a un precio asequible,
                </p>
            </div>
        </div>
    </div>
</section>